*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #A6E3E9;
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / auto 1fr auto;

}
