

.producto-tarjeta{
    background: #ece5ce;
    border: 5px solid white;
    padding: 10px;
    transition: box-shadow 0.5s;
}

.producto-tarjeta:hover{
    box-shadow: 0 5px 10px gray;
}

.producto-tarjeta .nombre{
    font-family: "Patua One", serif;
    color: #42929d;
}

.producto-tarjeta .precio{
    font-family: "Patua One", serif;
}

.producto-tarjeta .imagen{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.producto-tarjeta .descripcion{
    font-family: "Balsamiq Sans", sans-serif;
    text-align: justify;
}
.producto-tarjeta .nombre, .producto-tarjeta .precio, 
.producto-tarjeta .imagen, .producto-tarjeta .descripcion{
    margin-bottom: 1rem;


}
.max{
    width: 100%;
}



.componentemain{
    grid-column: 2/4;
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
main{
    margin-top: 10px;
    text-align: center;
    font-family: just;
    font-size: 1.5rem;
}

main img{
   
    width: 150px; 
    height: 150px; 
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 55px;
}
main img:hover{
    border: 5px solid gray;
   
}
